<div class="rWrapper">
<h2 align="center">ResultSummary</h2><br>
<h3 id="Total" align="center">Total</h3><br>
<label id="TotalQuestion">  No. Of Question is : {{totalQuestionNumber}}</label><br>
<label id="correctanswer"> No. Of Correct Answers is: {{totalCorrectAnswer}} </label><br>
<label id="attempted">No. Of InCorrect Answers is:  {{incorrectAnswer}} </label><br>
<label id="attempted">No. Of Attempted Questions is: {{attemptQuestion}} </label><br>
<label id="skippedanswer"> No. Of Skipped Question is:{{skipQuestion}}</label><br>
</div>
