Some set of tests which are preconfigured for the candidate will be Here
<div class="wrapper2">
    <div class="mindtecklogo"><img src="Mindteck-icon.png"></div>
   <label id=username><h2 align="center">Hello User</h2></label>
<br>
 <label id=assignedtest><h2 align="center">You are assigned with test :- .NET Framework</h2></label>
 <br>
 <br>
 <br>
 <label id=tsthstry>Your Test-History:-</label>
 <br>
 <br>
  <label id=hstry>01/12/2014 - C++ </label>
  <br>
  <br>
  <input type="button" class="TxtLaunch"{{action 'TestLaunch'}} name="TestLaunch" value="Test Launch"/>
  <input type="button" class="TxtRepeat"{{action 'TestRepeat'}} name="TestRepeat" value="Test Repeat"/>
  <!--<aside>
    <ul>
      <li><h3>ABAP test  <input type="button" {{action 'go_to_test'}} name="" value= " StartTest" /> </h3></li>

      {{#each tests as |test|}}
        <li>
          {{#link-to  test current-when="test"}}
            <span class="count">
              {{test.length}}
            </span>
            {{test.name}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </aside>-->

   </div>
